@import "colors"

[md-type="#"]
  font-size: 30px
  font-weight: 700

  &::before
    content: 'h1'
    font-size: 14px
    color: $unimportant

[md-type="##"]
  font-size: 24px
  font-weight: 700

  &::before
    content: 'h2'
    font-size: 14px
    color: $unimportant

[md-type="###"]
  font-size: 21px
  font-weight: 700

  &::before
    content: 'h3'
    font-size: 14px
    color: $unimportant

[md-type="####"]
  font-size: 17px
  font-weight: 700

  &::before
    content: 'h4'
    font-size: 14px
    color: $unimportant

[md-type="#####"]
  font-size: 14px
  font-weight: 700

  &::before
    content: 'h5'
    font-size: 14px
    color: $unimportant
