%base-hd
  font-weight: 700

  &::before
    font-size: 14px
    color: $unimportant
    position: relative
    margin-left: -$editor-padding
    margin-right: 10px
    font-weight: 300

[md-type="#"]
  @extend %base-hd
  font-size: 2em

  &::before
    content: 'H1'

[md-type="##"]
  @extend %base-hd
  font-size: 1.5em

  &::before
    content: 'H2'

[md-type="###"]
  @extend %base-hd

  &::before
    content: 'H3'
    font-size: 1.17em

[md-type="####"]
  @extend %base-hd
  font-size: 1em

  &::before
    content: 'H4'

[md-type="#####"]
  @extend %base-hd
  font-size: 1em

  &::before
    content: 'H5'
