%baseList {
  padding-left: 0;
  list-style-type: none;
  li {
    &:before {
      content: "• ";
    }
  }
}

.i-editor {
  ol {
    @extend %baseList;
    counter-reset: item; 
    
    li {
      &:before {
        content: counter(item) ". ";
        counter-increment: item;
      }
    }
  }

  ul {  
    @extend %baseList;
    li {
      &:before {
        display: inline-block;
        margin-right: 5px;
      }
    }
  }
}